*{
    width: 800px;
    margin: 0;
}
html{
    background-color: #8260d9;
}
nav{
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 25px 8px;
    background-color: #fca426;
}

.container{
    box-sizing: border-box;
    padding-top: 85px;
    padding-left: 12px;
}

h1{
    color: #5bc2ef;
    text-align: center;
}

footer{
    text-align: center;
}

p{
    color: white;
    width: fit-content;
}



@media screen and (min-device-width: 800px) {
    .container{
        width: 100%;
    }
}